a.out
*.o
*.so
process/socket/client
process/socket/server
test.*
*.exe
golang/golang
golang/process/process
golang/net/rpc/rpc
golang/file/file
java/*.class
golang/file/json/json
golang/file/json/person_info.json
